<div class="banner-dashboard">
  <div class="header-banner">
    <span class="title-banner">#1 All in one platform for mom and baby</span>
    <span class="des-banner">We work closely with our clients throughout the design process, from the initial </span>
  </div>
  <div class="body-banner">
    <div class="row">
      <div class="col-md-3 banner-left">
        <img src="../../../../../assets/images/image/image_top_left.png" style="width:100%; border-radius: 50px"/>
        <img src="../../../../../assets/images/image/image_bottom_left.png" style="width:100%; border-radius: 50px" class="my-3"/>
      </div>
      <div class="col-md-6 banner-center">
        <img src="../../../../../assets/images/image/image_center.png" style="width:100%; border-radius: 50px" class="image-center"/>
      </div>
      <div class="col-md-3 banner-right">
        <img src="../../../../../assets/images/image/image_top_right.png" style="width:100%; border-radius: 50px" class="my-3"/>
        <img src="../../../../../assets/images/image/image_bottom_right.png" style="width:100%; border-radius: 50px"/>
      </div>
    </div>
  </div>
</div>
