<div class="banner_dashboard">
  <div class="header_banner">
    <span class="title_banner">#1 All in one platform for mom and baby</span>
    <span class="des_banner">We work closely with our clients throughout the design process, from the initial </span>
  </div>
  <div class="body_banner">
    <div class="row">
      <div class="col-md-3 banner_left">
        <img src="../../../../../assets/images/image/image_top_left.png" style="width:100%; border-radius: 50px"/>
        <img src="../../../../../assets/images/image/image_bottom_left.png" style="width:100%; border-radius: 50px" class="my-3"/>
      </div>
      <div class="col-md-6 banner_center">
        <img src="../../../../../assets/images/image/image_center.png" style="width:100%; border-radius: 50px" class="image_center"/>
      </div>
      <div class="col-md-3 banner_right">
        <img src="../../../../../assets/images/image/image_top_right.png" style="width:100%; border-radius: 50px" class="my-3"/>
        <img src="../../../../../assets/images/image/image_bottom_right.png" style="width:100%; border-radius: 50px"/>
      </div>
    </div>
  </div>
</div>
