<div class="introduce page-center">
  <div class="title">
    <span class="text-title">Be Ready, Plan Your Relaxation In Advance</span>
  </div>
  <div class="body_introduce">
    <div>
      <img src="assets/images/image/image_ip14prm.png" style="width: 100%" />
    </div>
    <div class="content_introduce">
      <div class="title_content">#1 All in one platform for mom and baby</div>
      <div class="des_content mt-2">If you want to know more about your body and how your cycle can affect everything from your mood to your energy levels, tracking your periods and ovulation is a great place to start.</div>
      <div class="title_content mt-5">#1 All in one platform for mom and baby</div>
      <div class="des_content mt-2">If you want to know more about your body and how your cycle can affect everything from your mood to your energy levels, tracking your periods and ovulation is a great place to start.</div>
    </div>
  </div>
</div>
