.introduce {
  background-color: #FFEFDD;
  margin-top: 205px;
  border-radius: 50px;
  width: 1120px;
}
@media only screen and (max-width: 1440px) {
  .introduce {
    background-color: #FFEFDD;
    margin-top: 205px;
    border-radius: 50px;
    width: 100%;
  }
}
.title {
  text-align: center;
  padding: 80px 0;
}
.text-title {
  color: #FA6E8C;
  text-align: center;
  font-family: FontRegular;
  font-size: 31.299px;
}
.content_introduce {
  margin-left: 69px;
}
.body_introduce {
  display: flex;
  margin-left: 147px;
  margin-right: 33px;
}
.title_content {
  color: #000;
  font-family: FontBold;
  font-size: 34px;
  font-style: normal;
}
.des_content {
  color: #000;
  font-family: FontRegular;
  font-size: 16px;
  font-style: normal;
}
