.introduce {
  background-color: #FFEFDD;
  margin-top: 205px;
  border-radius: 50px;
}
.title {
  text-align: center;
  padding: 80px 0;
}
.text-title {
  color: #FA6E8C;
  text-align: center;
  font-family: Bohemian Soul;
  font-size: 31.299px;
  font-style: normal;
  font-weight: 400;
  line-height: 50.861px; /* 162.5% */
  letter-spacing: 0.078px;
}
.content_introduce {
  //display: grid;
  //padding-right: 33px;
}
.body_introduce {
  display: flex;
  margin-left: 147px;
  margin-right: 33px;
}
.title_content {
  color: #000;
  font-family: SF Pro;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 141.176% */
  letter-spacing: 0.085px;
}
.des_content {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}
