.btn_amomi {
  background-color: #FF9393;
  border-radius: 16px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: 500;
}

.btn_amomi:hover {
  background-color: #FF9393;
  border-radius: 16px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: 500;
}
