@font-face{
	font-family: FontBlack;
    src:url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face{
	font-family: FontBlackItalic;
    src:url('../fonts/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face{
	font-family: FontBold;
    src:url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face{
	font-family: FontBoldItalic;
    src:url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face{
	font-family: FontExtraBold;
    src:url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face{
	font-family: ExtraBoldItalic;
    src:url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face{
	font-family: FontExtraLight;
    src:url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face{
	font-family: ExtraLightItalic;
    src:url('../fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face{
	font-family: BrunetteSVN;
    src:url('../fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: FontLight;
    src:url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
	font-family: FontLightItalic;
    src:url('../fonts/Poppins-LightItalic.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face{
	font-family: FontMedium;
    src:url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
	font-family: FontMediumItalic;
    src:url('../fonts/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
	font-family: FontRegular;
    src:url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
	font-family: SemiBold;
    src:url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face{
	font-family: SemiBoldItalic;
    src:url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face{
	font-family: Thin100;
    src:url('../fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: Thin100Italic;
    src:url('../fonts/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
