.title-explore {
    text-align: center;
}
.text-title {
    color: #FA6E8C;
    font-size: 41.014px;
    font-family: FontRegular;
}
.body-explore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.circle {
    width: 582px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #000;
    opacity: 0.3;
}
