.articles-product {
    margin-top: 125px;
    padding: 0;
}
.title-articles {
    text-align: center;
}
.text-title {
    color: #FA6E8C;
    font-size: 41.014px;
    line-height: 52px;
    font-family: FontRegular;
}
.img-article {
    width: 100%;
    border-radius: 50px;
}
.body_content {
    position: relative;
}
.content-img {
    position: absolute;
    bottom: 66px;
    left: 38px;
    right: 42px;
}
.text-content {
    color: #FFF;
    font-size: 18px;
    font-family: FontMedium;
}
.circle-grey {
    border-radius: 123px;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(3.5px);
    width: 179px;
    height: 41px;
    margin-top: 33px;
}
.content-articles {
  margin-top: 50px;
}
