<div class="articles-product">
    <div class="title-articles">
        <span class="text-title">Why choose Amomi?</span>
    </div>
    <div class="content-articles">
        <div class="row">
            <div class="col-md-4 body_content">
                <img src="../../../../../assets/images/image/article_1.png" class="mb-3 img-article"/>
                <div class="content-img">
                    <span class="text-content">The first rewards platform for women who take steps to monitor and care of their health.</span>
                    <div class="circle-grey"></div>
                </div>
            </div>
            <div class="col-md-4 body_content">
                <img src="../../../../../assets/images/image/article_2.png" class="mb-3 img-article"/>
                <div class="content-img">
                    <span class="text-content">Be empowered to share your voice on products and services that impact you and your loved ones.</span>
                    <div class="circle-grey"></div>
                </div>
            </div>
            <div class="col-md-4 body_content">
                <img src="../../../../../assets/images/image/article_3.png" class="mb-3 img-article"/>
                <div class="content-img">
                    <span class="text-content">Developed by a team genuinely interested in minimizing the motherhood penalty</span>
                    <div class="circle-grey"></div>
                </div>
            </div>
        </div>
    </div>
</div>
