<div class="row header_dashboard">
  <div class="logo_company col-md-3 d-flex-center">
    <img src="assets/images/icons/logo_company.png" />
  </div>
  <div class="menu col-md-6 d-flex-center">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">For business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">About us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="btn_register col-md-3 d-flex-center">
    <button class="btn btn_amomi">Try amomi</button>
  </div>
</div>
