.header-dashboard {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}
.menu {
  display: flex;
}
.btn-register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  padding: 0 22px;
}
.nav-link {
  color: #6B6B6B;
  font-size: 16px;
  font-weight: 500;
}
.nav-link.active {
  color: #FA6E8C;
}
