.social-network {
    border-radius: 125px;
    border: 1px solid var(--secondary-color, #FFC8D2);
    padding: 12px 24px;
    margin-right: 10px;
    color: var(--text-title, #597393);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.social-network:hover {
    border-radius: 125px;
    border: 1px solid var(--secondary-color, #FFC8D2);
    background-color: #FFC8D2;
    color: var(--text-title, #ffffff);
}

.columm {
    display: grid;
    color: var(--text-body-content, #6B6B6B);
    font-size: 16px;
    font-family: FontRegular;
}

.title-main {
    color: var(--text-title, #597393);
    font-size: 16px;
    font-style: normal;
    font-family: FontBold;
}

.line-straight {
    border: 1px solid #FA6E8C;
    opacity: 0.4;
    margin-top: 55px;
}
.signature {
    margin-top: 19px;
    margin-bottom: 82px;
}
.text-signature {
    color: var(--text-title, #597393);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
