<div class="container footer">
    <div class="row">
        <div class="col-md-6">
            <div class="logo-company">
                <img src="assets/images/icons/logo_company.png" />
            </div>
            <div class="d-flex mt-4">
                <div class="social-network">
                    <span class="name-social">Facebook</span>
                </div>
                <div class="social-network">
                    <span class="name-social">Instagram</span>
                </div>
                <div class="social-network">
                    <span class="name-social">Twitter</span>
                </div>
                <div class="social-network">
                    <span class="name-social">Linkedin</span>
                </div>
            </div>
        </div>

        <div class="row col-md-6">
            <div class="col-md-4 columm">
                <span class="title-main">Product</span>
                <span>Baby Development tracker</span>
                <span>Period tracker</span>
                <span>Mood & Feel tracker</span>
            </div>
            <div class="col-md-4 columm">
                <span class="title-main">For Business</span>
                <span>Content</span>
                <span>Contact Sales</span>
                <span>Legal Notice</span>
            </div>
            <div class="col-md-4 columm">
                <span class="title-main">About Us</span>
                <span>Privacy Policy</span>
                <span>Term of Use</span>
                <span>Amomi Team</span>
            </div>
        </div>
    </div>

    <div class="line-straight"></div>

    <div class="signature">
        <div class="row">
            <div class="col-md-6 text-start text-signature">All rights reserved 2023</div>
            <div class="col-md-6 text-end text-signature">All rights reserved 2023</div>
        </div>
    </div>
</div>