.social-network {
    border-radius: 125px;
    border: 1px solid var(--secondary-color, #FFC8D2);
    padding: 12px 24px;
    margin-right: 10px;
}
.name-social {
    color: var(--text-title, #597393);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.columm {
    display: grid;
    color: var(--text-body-content, #6B6B6B);
    /* Body 1/Regular */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.title-main {
    color: var(--text-title, #597393);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.line-straight {
    border: 1px solid #FA6E8C;
    opacity: 0.4;
    margin-top: 55px;
}
.signature {
    margin-top: 19px;
    margin-bottom: 82px;
}
.text-signature {
    color: var(--text-title, #597393);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}